{% extends "base.html" %}
{% block title %}View Posts{% endblock %}
{% block content %}

{% for post in posts %}
    <h3>
        <a href="/blog/{{post.permalink}}">
        {{ post.subject }}
        </a>
    </h3>

    <em>
    {% for user in users %}
        {% if post.key.parent().id() == user.key.id() %}
            Posted by {{ user.username }}
        {% endif %}

    {% endfor %}

    on {{ post.postcreated.strftime("%A, %B %d, %Y @ %H:%I") }}
    </em>

    <br><br>

    {{ post.render() | safe }}

    <br><br>

{% endfor %}

{% endblock %}
