{% extends "base.html" %}
{% block title %}View Posts{% endblock %}
{% block content %}

{% for post in posts %}
    <div class="post">
        <h2>
            <a href="/blog/{{post.permalink}}">
            {{ post.subject }}
            </a>
        </h2>

        <em>
        {% for user in users %}
            {# post.key.parent().id() = id of parent of this post (user id) #}
            {# user.key.id() = id of user, going through a list of all users. not very efficient. #}

            {% if post.key.parent().id() == user.key.id() %}
                Posted by {{ user.username }}
            {% endif %}

        {% endfor %}

        on {{ post.postcreated.strftime("%A, %B %d, %Y @ %H:%I") }}
        </em>

        {# if logged in userid does not equal post.parent.id #}
        {% if userid|int() != post.key.parent().id()|int() %}
            <a href="#"><span class="glyphicon glyphicon-star-empty"></span></a>
        {% endif %}

        <br><br>

        {{ post.render() | safe }}
    </div>


{% endfor %}

{% endblock %}
