<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link href='https://fonts.googleapis.com/css?family=Cinzel:400,900|Old+Standard+TT:400,400italic' rel='stylesheet' type='text/css'>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - My Blog</title>
    {% endblock %}
</head>
<body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>

    <div class="container">
        <div class="row">
            <div class="col-md-12 header">
            {% if not logged_in %}
                <a href="/blog/signup">Signup</a> |
                <a href="/blog/login">Login</a> |
            {% endif %}
                <a href="/blog">Home</a> |
            {% if logged_in %}
                <a href="/blog/newpost">Post something!</a> |
                <a href="/blog/logout">Log out</a> |
            {% endif %}

                <a href="/blog"><h1>Udacity Blog</h1></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 content">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 footer">
                {% block footer %}
                    &copy; Copyright 2016 by <a href="http://randomlysa.com/">me</a>.
                {% endblock %}
            </div>
        </div>

    </div><!-- div container -->

</body>
</html>