{% extends "base.html" %}
{% block title %}New Post{% endblock %}
{% block content %}

  <div class="col-md-12 newpost">

    <h2>edit post</h2>
    {{ post.title }}

    <form method="post">

      <div>subject:</div>
      <input type="text" name="subject" value="{{post.subject}}"" maxlength="150">
      <div class="error">{{error_subject}}</div>

      <div>content</div>
      <textarea name="content">{{post.content}}</textarea>
      <div class="error">{{error_content}}</div>

      <div class="row">
        <div class="col-md-6">
          <input class="btn btn-lg btn-success btn-input" type="submit" value="Edit Post">
        </div>
        <div class="col-md-6">
          <a class="btn btn-lg btn-primary btn-input" href="/blog/{{post.permalink}}">Cancel/Return to Post</a>
        </div>
      </div>

    </form>
  </div>

{% endblock %}
