{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="col-md-3"></div>

<div class="col-md-6 login">
    <h1 class="text-center">Login | <a href="/blog/signup">Signup</a></h1>

    <form action="/blog/login/{{redirectURL}}" method="post">
        <div>
            <input type="text" name="username" placeholder="Username" value="{% if username != None %}{{username}}{% endif %}">
            <div class="error">{{e_username}}</div>
        </div>
        <div>
            <input type="password" name="password" placeholder="Password">
            <div class="error">{{e_password}}</div>
        </div>
        <input type="submit">
    </form>

    <div class="text-center">
        Don't have an account? <a href="/blog/signup">Sign up!</a>
    </div>
</div>

<div class="col-sm-3 col-md-3"></div>

{% endblock %}
