{% extends "base.html" %}
{% block title %}View Posts{% endblock %}
{% block content %}

<h2>New Blog Entry</h2>
<form action="/blog/newpost" method="post">
    <label>
        Subject: <span class="error">{{error_subject}}</span><br>
        <input type="text" name="subject" value="{{subject}}">
    </label>

    <br>

    <label>
        Body:  <span class="error">{{error_body}}</span><br>
        <textarea name="content">{{body}}</textarea>

    </label>

    <br>

    <label>
        <input type="submit" value="post it!">
    </label>
</form>

{% endblock %}
