{% extends "base.html" %}
{% block title %}
    {{ post.subject }} - Permalink
{% endblock %}
{% block content %}

<h2>
    <a href="/blog/{{post.permalink}}">
    {{ post.subject }}
    </a>
</h2>

<em>Posted {{ post.postcreated.strftime("%A, %B %d, %Y @ %H:%I") }}</em>

{% if owner %}
    <a class="btn btn-primary" href="/blog/{{post.permalink}}/edit">edit post</a>
    <a class="btn btn-danger" href="/blog/{{post.permalink}}/delete">delete post</a>
{% endif %}

<br><br>

{{ post.render() | safe }}

<br><br>

{% endblock %}
