{% extends "base.html" %}
{% block title %}
    {{ post.subject }} - Permalink
{% endblock %}
{% block content %}

<script language="Javascript" type="text/javascript">
/* http://www.codecoffee.com/articles/ajax.html */
<!--

function createRequestObject() {
    var tmpXmlHttpObject;

    //depending on what the browser supports, use the right way to create the XMLHttpRequest object
    if (window.XMLHttpRequest) {
        // Mozilla, Safari would use this method ...
        tmpXmlHttpObject = new XMLHttpRequest();

    } else if (window.ActiveXObject) {
        // IE would use this method ...
        tmpXmlHttpObject = new ActiveXObject("Microsoft.XMLHTTP");
    }

    return tmpXmlHttpObject;
}

//call the above function to create the XMLHttpRequest object
var http = createRequestObject();

function makeGetRequest(permalink) {
    //make a connection to the server ... specifying that you intend to make a GET request
    //to the server. Specifiy the page name and the URL parameters to send
    http.open('get', '/blog/' + permalink + '/like');

    //assign a handler for the response
    http.onreadystatechange = processResponse;

    //actually send the request to the server
    http.send(null);
}

function processResponse() {
    //check if the response has been received from the server
    if(http.readyState == 4){

        //read and assign the response from the server
        var response = http.responseText;
        // console.log(response)

        if (response == 'unliked') {
        // toggle the span.like-update class
            $( "span.like-update" ).addClass('glyphicon-star-empty')
            $( "span.like-update" ).removeClass('glyphicon-star')
        }
        if (response == 'liked') {
        // toggle the span.like-update class
            $( "span.like-update" ).addClass('glyphicon-star')
            $( "span.like-update" ).removeClass('glyphicon-star-empty')
        }
    }
}

-->
</script>


<h2>
    <a href="/blog/{{post.permalink}}">
    {{ post.subject }}
    </a>
</h2>

<em>
Posted by {{ post.get_owner(post.key.parent().id()) }}

on {{ post.postcreated.strftime("%A, %B %d, %Y @ %H:%I") }}
</em>

{# link to like a post #}

    {# if userid AND logged in userid does NOT equal post.parent.id, allow to like #}
    {% if userid|int() and userid|int() != post.key.parent().id()|int() %}

        {% if userid in post.likes %}
            {# logged in user has liked this post #}
            <a href="javascript:makeGetRequest('{{post.permalink}}')">
            <!-- <a href="/blog/{{post.permalink}}/like"> -->
            <span class="like-update glyphicon glyphicon-star"></span></a>
        {% endif %}

        {% if userid not in post.likes %}
            {# logged in user has NOT liked this post #}
            <a href="javascript:makeGetRequest('{{post.permalink}}')">
            <!-- <a href="/blog/{{post.permalink}}/like"> -->
            <span class="like-update glyphicon glyphicon-star-empty"></span></a>
        {% endif %}

    {% endif %}

    {# if NOT userid (not logged in) OR logged in userid DOES equal post.parent.id, do NOT allow to like #}
    {% if not userid or userid|int() == post.key.parent().id()|int() %}

        {# if the post has at least one like, show star, otherwise, show star-empty #}
        {% if post.likes %}
            <a href="javascript:alert('You cannot like your own post!')"><span class="glyphicon glyphicon-star"></span></a>
        {% endif %}
        {% if not post.likes %}
            <a href="javascript:alert('You cannot like your own post!')"><span class="glyphicon glyphicon-star-empty"></span></a>
        {% endif %}
    {% endif %}

{#  END link to like a post #}

{# showpost sets owner = True if logged in user is owner of post #}
{% if owner %}
    <a class="btn btn-primary" href="/blog/{{post.permalink}}/edit">edit post</a>
    <a class="btn btn-danger" href="/blog/{{post.permalink}}/delete">delete post</a>
{% endif %}


<br><br>

{{ post.render() | safe }}

<br><br>

{% if username %} {# user is logged in #}
    <form method="post">
        Add a comment:</a><br />
        <textarea name="comment"></textarea>
        <input type="submit" value="add comment!">
    </form>
{% endif %}

{% if comments %}<h2>Comments</h2>{% endif %}
{% for comment in comments %}
    Comment by <strong>{{ comment.username }}</strong>
    on {{ comment.commentcreated.strftime("%A, %B %d, %Y @ %H:%I") }}:

    {# if username is comment owner #}
    {% if userid|int() and username|string() == comment.username|string() %}
        <a class="btn btn-primary" href="/blog/comment/{{ comment.urlsafekey(comment.key) }}/edit">edit</a>
        <a class="btn btn-danger" href="/blog/comment/{{ comment.urlsafekey(comment.key) }}/delete">delete</a>
    {% endif %}

    <br>
    {{ comment.content }}
    <br />
    <hr>
{% endfor %}

{% endblock %}
