{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<div class="col-sm-3 col-md-4"></div>

<div class="col-sm-6 col-md-4">
    <h1>Signup</h1>
    <form action="/blog/signup" method="post">
        <div>
            <input type="text" name="username" placeholder="Username" value="{{username}}">
            <div class="error">{{e_username}}</div>
        </div>
        <div>
            <input type="password" name="password" placeholder="Password">
        </div>
        <div>
            <input type="password" name="verify" placeholder="Verify Password">
            <div class="error">{{e_password}}</div>
        </div>
        <div>
            <input type="text" name="email" placeholder="Email (Optional)" value="{{email}}">
            <div class="error">{{e_email}}</div>
        </div>
        <input type="submit">
    </form>
    <br>
    Already have an account?<br >
    <a href="/blog/login">Log in!</a>
</div>

<div class="col-sm-3 cold-md-4"></div>
{% endblock %}
