{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<div class="col-md-3"></div>

<div class="col-md-6 signup">
    <p class="text-centered">
        <h1 class="text-center">Signup | <a href="/blog/login">Login</a></h1>
    </p>
    <form action="/blog/signup" method="post">
        <div>
            <input type="text" name="username" placeholder="Username" value="{% if username != None %}{{username}}{% endif %}">
            <div class="error">{{e_username}}</div>
        </div>
        <div>
            <input type="password" name="password" placeholder="Password">
        </div>
        <div>
            <input type="password" name="verify" placeholder="Verify Password">
            <div class="error">{{e_password}}</div>
        </div>
        <div>
            <input type="text" name="email" placeholder="Email (Optional)" value="{{email}}">
            <div class="error">{{e_email}}</div>
        </div>
        <input type="submit">
    </form>

    <div class="text-center">
        Already have an account? <a href="/blog/login">Log in!</a>
    </div>
</div>

<div class="col-md-3"></div>
{% endblock %}
